<mat-toolbar [color]="getToolbarColor((remaining$ | async) || 0)">
  <span>
    <ng-container *ngIf="remaining$ | async as remaining; else doneTpl">
      There are {{ remaining | appTime }} hours left.
    </ng-container>
    <ng-template #doneTpl>Job done !</ng-template>
  </span>
  <span fxFlex="1 1 auto"></span>
  <button mat-icon-button type="button" aria-label="Show parameters" (click)="showParameters()">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <button type="button" mat-raised-button color="primary" class="reset" (click)="reset()">
    Reset timers
  </button>

  <app-list-timer></app-list-timer>
</div>
